<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Usa.Smart.Core" version="0.5.1" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="net461" />
</packages>